PORT=4300
DATABASE_URL=postgres://username:password@server:port/database
DATABASE_SSL=false
DATABASE_MAX_CONNECTION=15
AUTHENTICATION_PUBLIC_KEY_URL=https://worldhoster.auth0.com/.well-known/jwks.json
AUTHENTICATION_AUTHENTICATOR_ID=
